In [25]:
import pandas as pd
import pyarrow.parquet as pq
from time import time

In [26]:
pq.read_metadata('yellow_tripdata_2021-01.parquet')

<pyarrow._parquet.FileMetaData object at 0x00000188846832E0>
  created_by: parquet-cpp-arrow version 7.0.0
  num_columns: 19
  num_rows: 1369769
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 10382

In [27]:
file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')
table = file.read()
table

pyarrow.Table
VendorID: int64
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: double
trip_distance: double
RatecodeID: double
store_and_fwd_flag: string
PULocationID: int64
DOLocationID: int64
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
airport_fee: double
----
VendorID: [[1,1,1,1,2,...,2,2,2,6,2]]
tpep_pickup_datetime: [[2021-01-01 00:30:10.000000,2021-01-01 00:51:20.000000,2021-01-01 00:43:30.000000,2021-01-01 00:15:48.000000,2021-01-01 00:31:49.000000,...,2021-01-31 23:03:00.000000,2021-01-31 23:29:00.000000,2021-01-31 23:25:00.000000,2021-01-31 23:01:06.000000,2021-01-31 23:08:29.000000]]
tpep_dropoff_datetime: [[2021-01-01 00:36:12.000000,2021-01-01 00:52:19.000000,2021-01-01 01:11:06.000000,2021-01-01 00:31:01.000000,2021-01-01 00:48:21.000000,...,2021-01-31 23:33:00.000000,2021-01-31 23:51:00.000000,2021-01-31 23:38:00.000000,2021-02-01 00:02:03.000000,2021-01-31 23:31:22.000000]]
passenger_count: [[1,1,1,0,1,...,null,null,null,null,null]]
trip_distance: [[2.1,0.2,14.7,10.6,4.94,...,8.89,7.43,6.26,19.7,4.68]]
RatecodeID: [[1,1,1,1,1,...,null,null,null,null,null]]
store_and_fwd_flag: [["N","N","N","N","N",...,null,null,null,null,null]]
PULocationID: [[142,238,132,138,68,...,229,41,74,265,89]]
DOLocationID: [[43,151,165,132,33,...,181,70,137,188,61]]
payment_type: [[2,2,1,1,1,...,0,0,0,0,0]]
...

In [28]:
df = table.to_pandas()
df.len

AttributeError: 'DataFrame' object has no attribute 'len'

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369769 entries, 0 to 1369768
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1369769 non-null  int64
 1   tpep_pickup_datetime   1369769 non-null  datetime64[us]
 2   tpep_dropoff_datetime  1369769 non-null  datetime64[us]
 3   passenger_count        1271417 non-null  float64
 4   trip_distance          1369769 non-null  float64
 5   RatecodeID             1271417 non-null  float64
 6   store_and_fwd_flag     1271417 non-null  object
 7   PULocationID           1369769 non-null  int64
 8   DOLocationID           1369769 non-null  int64
 9   payment_type           1369769 non-null  int64
 10  fare_amount            1369769 non-null  float64
 11  extra                  1369769 non-null  float64
 12  mta_tax                1369769 non-null  float64
 13  tip_amount             1369769 non-null  float64
 14  tolls_amount           1369769 non-null  float64
 15  improvement_surcharge  1369769 non-null  float64
 16  total_amount           1369769 non-null  float64
 17  congestion_surcharge   1271417 non-null  float64
 18  airport_fee            5 non-null        float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 198.6+ MB

In [30]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [31]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [32]:
batches_iter = file.iter_batches(batch_size=100000)
df = next(batches_iter).to_pandas()

In [33]:
t_start = time()
count = 0 
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken     18.082 seconds.

inserting batch 2...
inserted! time taken     15.900 seconds.

inserting batch 3...
inserted! time taken     16.330 seconds.

inserting batch 4...
inserted! time taken     15.558 seconds.

inserting batch 5...
inserted! time taken     15.272 seconds.

inserting batch 6...
inserted! time taken     15.301 seconds.

inserting batch 7...
inserted! time taken     15.708 seconds.

inserting batch 8...
inserted! time taken     14.991 seconds.

inserting batch 9...
inserted! time taken     15.413 seconds.

inserting batch 10...
inserted! time taken     15.085 seconds.

inserting batch 11...
inserted! time taken     15.903 seconds.

inserting batch 12...
inserted! time taken     15.170 seconds.

inserting batch 13...
inserted! time taken     14.981 seconds.

inserting batch 14...
inserted! time taken      9.919 seconds.

Completed! Total time taken was    214.076 seconds for 14 batches.

In [ ]:
df